@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '~@angular/material/theming';

@include mat-core();

$blue: (
    50: #2196F3,
    100: #BBDEFB,
    200: #90CAF9,
    300: #64B5F6,
    400: #42A5F5,
    500: #2196F3,
    600: #1E88E5,
    700: #1976D2,
    800: #1565C0,
    900: #0D47A1,
    A100: #82B1FF,
    A200: #448AFF,
    A400: #2979FF,
    A700: #2962FF,
    contrast: ()
);

$green: (
    50: #4CAF50,
    100: #C8E6C9,
    200: #C5E1A5,
    300: #A5D6A7,
    400: #66BB6A,
    500: #4CAF50,
    600: #43A047,
    700: #388E3C,
    800: #2E7D32,
    900: #1B5E20,
    A100: #B9F6CA,
    A200: #69F0AE,
    A400: #00E676,
    A700: #00C853,
    contrast: ()
);

$red: (
    50: #f44336,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #f44336,
    600: #e53935,
    700: #d32f2f,
    800: #c62828,
    900: #b71c1c,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
    contrast: ()
);

$todo-app-primary: mat-palette($blue, 600);
$todo-app-accent: mat-palette($green, 600);
$todo-app-warn: mat-palette($red, 600);

$todo-app-theme: mat-dark-theme($todo-app-primary, $todo-app-accent, $todo-app-warn);

@include angular-material-theme($todo-app-theme);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #292929;}

.mat-dialog-container {
  fill: #212121;
  background-color: #212121;
}
