<div class="todo-add">
  <form class="todo-add-form">
    <mat-form-field>
      <mat-label>What needs to be done?</mat-label>
      <input matInput (keydown.enter)="addTodo($event)" type="text" name="title" [(ngModel)]="todoAdd.title" autofocus>
    </mat-form-field>
  </form>
  <div class="add-todo-button">
    <button
      mat-flat-button color="primary"
      class="btn btn-primary"
      type="button"
      id="todoAddButton"
      (click)="addTodo($event)">
      Add
    </button>
    <p *ngIf="inputError == true" class="input-error">Invalid Todo</p>
  </div>
</div>

<div class="progress-spinner" *ngIf="loading == true">
  <mat-spinner></mat-spinner>
</div>

<div class="todo-table" *ngIf="numberTodos > 0 && loading == false">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-hover">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="todo-select-col">
        <mat-checkbox
          [(ngModel)]="isMarkAllTodoChecked"
          (change)="markAllTodos($event)"
          [checked]="isMarkAllTodoChecked">
        </mat-checkbox
        >
      </th>
      <td mat-cell *matCellDef="let todo">
        <mat-checkbox
          (change)="markTodo($event, todo)"
          [checked]="!todo.active"
          [(ngModel)]="!todo.active">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="todo-id-col"> Id </th>
      <td mat-cell *matCellDef="let todo"> {{todo.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="todo-title-col"> {{tableHeading}} </th>
      <td mat-cell *matCellDef="let todo" [ngClass]="todo.active ? 'todo-active': 'todo-inactive'">{{todo.title}}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef class="todo-active-col"> Active </th>
      <td mat-cell *matCellDef="let todo"> {{todo.active}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="todo-delete-col">
        <button *ngIf="numberOfCompletedTodos > 0" mat-flat-button color="accent" class="btn btn-accent" type="button" (click)="deleteTodos()">
          <span class="btn-label"><i class="fa fa-trash"></i></span>
        </button >
      </th>
      <td mat-cell *matCellDef="let todo" class="todo-delete-button">
        <button mat-flat-button color="warn" type="button" class="todo-delete" (click)="deleteTodo(todo.id)">
          <span class="btn-label"><i class="fa fa-trash"></i></span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let todo; columns: displayedColumns;" (dblclick)="openDialog(todo)">
    </tr>
  </table>
</div>

<div>
  <button mat-flat-button color="primary" type="button" class="number-active-todos">
    {{
      numberOfActiveTodos == 1 ? numberOfActiveTodos +' item left'
        : numberOfActiveTodos > 1 ? numberOfActiveTodos + ' items left'
          : numberOfActiveTodos == 0 ? '0 items left'
            : 'Loading...'
    }}
  </button>
</div>
<div>
  <button mat-flat-button color="accent" type="button" class="number-completed-todos">
    {{
      numberOfCompletedTodos == 1 ? numberOfCompletedTodos +' item left'
        : numberOfCompletedTodos > 1 ? numberOfCompletedTodos + ' items left'
          : numberOfCompletedTodos == 0 ? '0 items left'
            : 'Loading...'
    }}
  </button>
</div>
