.todo-add{
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.todo-add-form {
  width: 100%;
  margin: auto;
  background-color: #292929;
  color: white;
}

.mat-form-field {
  width: 100%;
  float: left;
}

.input-error {
  color:#e53935;
  padding-top: 10px;
}

.progress-spinner {
  width: 0%;
  margin: auto;
  padding-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

table {
  width: 50%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 100px;
}

.todo-title-col {
  width: 330px;
}

.todo-id-col {
  width: 0px;
}

.todo-active-col {
  width: 0px;
}

.todo-select-col {
  width: 25px;
}

.checkbox {
  margin-right: 30px;
}

.todo-delete-col {
  width: 5px;
  text-align: right;
}

.todo-delete-button {
  text-align: right;
}

.todo-active {
  text-decoration: none;
}

.todo-inactive {
  text-decoration: line-through;
}

.mat-row:hover {
  background-color: #292929;
}

.mat-row {
  background-color: #2D2C2C;
}

button.todo-delete {
  visibility: hidden;
}

tr:hover button.todo-delete {
  visibility: visible;
}

.number-active-todos {
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin-bottom: 130px;
  height: 45px;
  width: 120px;
}

.number-completed-todos {
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin-bottom: 65px;
  height: 45px;
  width: 120px;
}
