<mat-toolbar>
  <div class="navbar-top-div">
    <div>
      <a href="#" class="navbar-top-logo">
        <img src="assets/brand-icon.jpg"
              width="39"
              height="39"
              class="d-inline-block align-top"
              alt="Todo App Ash"
              loading="lazy">
      </a>
    </div>
  </div>
</mat-toolbar>
