<div class="todo-edit-dialog">
  <h1 mat-dialog-title>Todo Edit</h1>
  <div mat-dialog-content>
    <form>
      <mat-form-field>
        <input matInput type="text" class="form-control" [(ngModel)]="todoToUpdate.title" [ngModelOptions]="{standalone: true}" id="todoTitle" value="{{todo.title}}" autofocus>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" cdkFocusInitial (click)="onSave()">Save</button>
  </div>
</div>
