.todo{
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.todo-form {
  width: 100%;
  margin: auto;
  background-color: #292929;
  color: white;
}

.mat-form-field {
  width: 100%;
  float: left;
}
