<!-- <div class="todo">
    <form class="todo-form">
      <mat-form-field>
        <mat-label>What needs to be done?</mat-label>
        <input matInput (keydown.enter)="addTodo($event)" type="text" name="title" [(ngModel)]="todo.title" autofocus>
      </mat-form-field>
    </form>
    <div class="add-todo-button">
      <button
        mat-flat-button color="primary"
        class="btn btn-primary"
        type="button"
        id="todoAddButton"
        (click)="addTodo($event)">
        Add
      </button>
    </div>
</div> -->


