.navbar-footer {
  position: fixed;
  bottom:0%;
  width:100%;
}

.navbar-footer-div {
  float:left;
  flex: 1 1 auto;
  text-align: center;
}

.all-todos-button {
  margin-right: 15px;
}

.active-todos-button {
  margin-right: 15px;
}

.completed-todos-button {
  margin-right: 30px;
}
