<router-outlet></router-outlet>

<mat-toolbar class="navbar-footer">
  <div class="navbar-footer-div">
    <button mat-flat-button  [routerLink]="'/all'" type="button" class="all-todos-button">All</button>
    <button mat-flat-button color="primary" [routerLink]="'/active'" type="button" class="active-todos-button">Active</button>
    <button mat-flat-button color="accent" [routerLink]="'/completed'" type="button" class="completed-todos-button">Completed</button>
  </div>
</mat-toolbar>
